.vscode/
# valid/*.trace
**/.DS_Store
w32build/*
**/*.a
**/*.o
**/*.d
**/*.tex
**/*.c~
disksim_4.0_64bit.patch
doxygen.cfg
COPYING
WDREADME.txt

# /libparamcopy/
valid/*
!valid/*.parv
!valid/*.sh
!valid/*.cpp
!valid/*.c
!valid/*.rs
!valid/*.py
!valid/*.seek
!valid/*.diskspecs
!valid/*.model
!valid/Makefile
!valid/statdefs